////.FolderTab {
////  /*flex-direction: column;*/
////
////  .FolderTabTitle {
////    color: red;
////  }
//
  .ChatFoldersWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &--tabs-hidden > .Tab {
      pointer-events: none;
      opacity: 0.25;
    }
  }

.ChatFoldersDesktop {

}
////
////}
//
//.FolderTab {
//  display: flex;
//  justify-content: center;
//  flex: 1 1 auto;
//  appearance: none;
//  background: none;
//  width: auto;
//  margin: 0;
//  border: none;
//  padding: 0.625rem 1.125rem;
//  font-weight: var(--font-weight-semibold);
//  color: var(--color-text-secondary);
//  border-top-left-radius: var(--border-radius-messages-small);
//  border-top-right-radius: var(--border-radius-messages-small);
//
//  .FolderTab_inner {
//    position: relative;
//    display: flex;
//    align-items: center;
//    white-space: nowrap;
//    gap: 1px; // Prevent custom emoji sticking to the text
//  }
//}

.ChatFolders {
  overflow-x: auto;
  scrollbar-width: none;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (max-width: 925px) {
    display: none !important;
  }
}

.Tab {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  flex: 1 1 auto;
  gap: 5px;
  height: 75px;
  appearance: none;
  background: none;
  width: auto;
  margin: 0;
  border: none;
  //padding: 0.625rem 1.125rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-secondary);
  border-top-left-radius: var(--border-radius-messages-small);
  border-top-right-radius: var(--border-radius-messages-small);

  &,
  &:active,
  &:focus {
    outline: none;
  }

  &Interactive {
    cursor: var(--custom-cursor, pointer);

    @media (hover: hover) {
      &:not(&--active):hover {
        background: var(--color-interactive-element-hover);
      }
    }

    @media (max-width: 600px) {
      &:not(&--active):active {
        background: var(--color-interactive-element-hover);
      }
    }
  }

  &Active {
    cursor: var(--custom-cursor, default);
    color: var(--color-primary);
    background-color: var( --color-skeleton-background);

    .platform {
      opacity: 1 !important;
    }
  }

  .Tab_inner {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1px; // Prevent custom emoji sticking to the text
    font-size: 0.85rem;
  }

  .ChatFoldersIcon {
    font-size: 36px;

    &Active {
      color: var(--color-primary);
    }
  }
  .ChatFoldersEmoji {
    font-size: 36px;

    &Active {
      color: var(--color-primary);
    }
  }
  .badge {
    position: absolute;
    top: 7px;
    right: 10px;
    min-width: 1.45rem;
    width: fit-content;
    height: 1.35rem;
    background: var(--color-primary);
    border-radius: 0.75rem;
    padding: 0 0.2125rem;
    color: white;
    font-size: 0.775rem;
    line-height: 1.35rem;
    font-weight: var(--font-weight-medium);
    text-align: center;
    z-index: 1;

    body.is-ios &,
    body.is-macos & {
      line-height: 1.45rem;
    }
  }

  &__badge--active {
    background: var(--color-primary) !important;
  }

  .blocked {
    position: absolute;
    bottom: -0.625rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
  }

  .platform {
    position: absolute;
    bottom: -0.625rem;
    left: -0.5rem;
    right: -0.5rem;
    opacity: 0;
    background-color: var(--color-primary);
    height: 0.1875rem;
    border-radius: 0.1875rem 0.1875rem 0 0;
    pointer-events: none;
    box-sizing: content-box;
    transform-origin: left;

    &.animate {
      transition: transform var(--slide-transition);

      body.no-page-transitions & {
        transition: none !important;
      }
    }
  }
}

.Tab-context-menu {
  position: absolute;
}
